.page-footer {
    background-color: #fff;
    padding-top: 30px;
    text-align: center;
}

.page-footer.dark {
    background-color: #2b2f31;
}

.page-footer .footer-copyright {
    background-color: #fff;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    margin-top: 50px;
    border: 1px solid #ededed;
}

.page-footer.dark .footer-copyright {
    background-color: #222425;
    border-color: #222425;
}

.page-footer .footer-copyright p {
    margin: 10px;
    color: #7d8288;
}

.page-footer.dark .footer-copyright p {
    color: #ccc;
}

.page-footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

.page-footer h5,
.page-footer .h5 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

.page-footer.dark h5,
.page-footer.dark .h5 {
    color: #fff;
}

.page-footer a {
    color: #53595f;
    text-decoration: none;
}

.page-footer.dark a {
    color: #d2d1d1;
}

.page-footer a:hover,
.page-footer a:focus {
    text-decoration: none;
    color: #1d2125;
}

.page-footer.dark a:hover,
.page-footer.dark a:focus {
    color: #fff;
}

@media (min-width: 576px) {
    .page-footer {
        text-align: left;
    }
}

@media (min-width: 768px) {
    .page-footer ul li {
        position: relative;
        padding-left: 10px;
    }
    .page-footer ul li:before,
    .page-footer ul li:after {
        content: "";
        position: absolute;
        left: 0;
        width: 2px;
        height: 6px;
        border-radius: 2px;
        background-color: #0d6efd;
        transform: rotate(-45deg);
    }
    .page-footer ul li:before {
        top: 9px;
        transform: rotate(-45deg);
    }
    .page-footer ul li:after {
        top: 13px;
        transform: rotate(45deg);
    }
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

.col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
}